@import '../../device-sizes.scss';

.container {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 90vw;

    @include phone {
        padding-bottom: 6rem;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    @include tablet {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

.name {
    h1,
    p {
        color: #fff;
        margin: 0;
        font-size: 6rem;

        @include phone {
            font-size: 4.2rem;
        }
    }

    .surname {
        display: flex;

        p {
            color: #ADFF00;
        }
    }
}

.pic-container {
    width: 400px;

    @include phone {
        width: 100vw;
        margin-bottom: 40px;
    }

    @include tablet {
        width: 66vw;
        display: flex;
        margin-left: auto;
        margin-bottom: 20px;
    }
}