@import '../device-sizes.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .occupation {
        border: 2px solid #fff;
        border-radius: 25px;
        padding: 10px 40px;
        font-size: 0.8rem;

        @include small-phone {
            font-size: 0.6rem;
            padding: 7px 15px;
        }

        span {
            color: #fff;
        }
    }

    .year {
        color: #fff;
        font-size: 1rem;

        @include small-phone {
            font-size: 0.6rem;
        }
    }

    hr {
        border: 1px solid #fff;
        flex-grow: 1;
        margin: 0 22px;

        @include small-phone {
            margin: 0 12px;
        }
    }
}