* {
  font-family: 'Stretch Pro', sans-serif;
}

.app {
  background: linear-gradient(30deg, rgba(0, 0, 0) 20%, rgba(5, 0, 255, .70) 55%, #ADFF00);
  animation: gradient 15s ease infinite;
  // background-size: 150% 150%;
  padding: 6rem;
  height: 100vh;
  box-sizing:border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@keyframes gradient {
	0% {
		background-position: 0% 60%;
	}
	50% {
		background-position: 100% 60%;
	}
	100% {
		background-position: 0% 60%;
	}
}
